@import "color-scheme.css";

summary {
    font-size: 2em;
}

summary::marker {
    color: var(--md-sys-color-primary);
}

.project-container {
    outline: 2px solid var(--md-sys-color-outline);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface-variant);
    box-shadow: 2px 2px 8px var(--md-sys-color-shadow);
}

.add-todo-button {
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    border: none;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    width: 1.25em;
    height: 1.25em;
    margin-left: 10px;
}

.add-todo-button:hover {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    border: 2px solid var(--md-sys-color-primary);
}

.add-todo-button:active {
    background-color: var(--md-sys-color-on-secondary-container);
    color: var(--md-sys-color-on-secondary);
}