.todo-card {
    border: 2px solid darkgray;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.todo-done > h2,
.todo-done > p,
.todo-done label {
    color: #888;
}

.todo-done > h2,
.todo-done > p {
    text-decoration: line-through;
}